<!--<div class="option-panel" *ngIf="open" #boxes>-->
<!--  <div class="layer">-->
<!--    <div class="option-nav-icons">-->
<!--      <a class="icon-option-panel" routerLink="/"><i class="fa fa-eye"></i></a>-->
<!--      <a class="icon-option-panel" (click)="onLiked(message)"><i class="fa fa-heart" #likedIcon [ngStyle]="{'color' : !message.like ? '' : '#F46E6B'}"></i></a>-->
<!--      <a class="icon-option-panel" (click)="onDelete(message.id)"><i class="fa fa-trash"></i></a>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
