@import '../assets/scss/variables';


.main-wrapper{
  display: grid;
  grid-template-columns: 40% 60%;
}

.container{
  background-color: $green;
}

.messages-wrapper{
  transform: translateY(-3em);
}
