<section class="sidebar">
  <div class="profile">
    <div class="nav-item">
      <a routerLink="#" class="navbar__link">
        <i class="fa fa-pen" id="pen"></i></a>
    </div>
    <div class="profile">
      <div class="profile-photo"><img src="./../assets/images/photo.jpg"></div>
      <div class="profile-content">
        <div class="profile-content__name">Designer Name</div>
        <div class="profile-content__text">love with UI/ GUI / UX</div>
      </div>
    </div>
  </div>
  <div class="navbar">
    <ul class="navbar-list">
      <li class="navbar-item">
          <a routerLink="#" class="navbar__link">
            <i class="fa fa-envelope icon"></i>
            <p class="navbar-text">Mail Inbox</p>
            <span class="navbar-badge">5</span>
        </a>
      </li>
      <li class="navbar-item">
        <a routerLink="#" class="navbar__link">
          <i class="fa fa-users icon"></i>
          <p class="navbar-text">Friends</p>
          <span class="navbar-badge">25</span>
        </a>
      </li>
      <li class="navbar-item">
        <a routerLink="#" class="navbar__link">
          <i class="fa fa-paper-plane icon"></i>
          <p class="navbar-text">Invites</p>
          <span class="navbar-badge">1</span>
        </a>
      </li>
      <li class="navbar-item">
        <a routerLink="#" class="navbar__link">
          <i class="fa fa-check-circle icon"></i>
          <p class="navbar-text">Bookmarks</p>
<!--          <span class="navbar-badge"></span>-->
        </a>
      </li>
      <li class="navbar-item">
        <a routerLink="#" class="navbar__link">
          <i class="fa fa-cog icon"></i>
          <p class="navbar-text">Settings</p>
<!--          <span class="navbar-badge"></span>-->
        </a>
      </li>
    </ul>
  </div>
</section>
