@import '../../assets/scss/variables';

.messages-wrapper{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.messages{
  background-color: $pink;
  border-radius: 2em 2em 0 0;
  height: 100%;
  font-family: newCicleFina, serif;
}
.no-message{
  background-color: $pink;
  border-radius: 2em 2em 0 0;
  height: 100%;
  font-family: newCicleFina, serif;
  color: $light;
  font-size: 18px;
  text-align: center;
  padding: 0.5em;
}
.message{
  color: $light;
  display: grid;
  grid-template-columns: 10% 60% 30%;
  border-bottom: solid 0.01px rgba(255, 255, 255, 0.51);
  padding-left: 1em;
}
.message-content{
  margin: 1em;
}
.message-icon{
  text-align: center;
  align-self: center;
}
.message-header{
  display: grid;
  grid-template-columns: 9em 10em;
  margin: 0.9em 0.4em 0.4em;
  font-weight: 600;
}
.message-text{
  text-align: left;
  align-self: center;
  margin: 0.4em;
  font-size: 1.3em;
}
.message-time{
  font-size: 1em;
}

.icon{
  font-size: 3em;
}

//OPTION PANEL
.option-panel__wrapper{
  display: none;
}
.option-panel{
  background-image: url("../../assets/images/option.png");
  background-repeat: no-repeat;
  bottom: 0;
  right: 0;
  border-left: solid 0.5em $light-green;
  text-align: center;
  height: 100%;
}
.layer{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  background-color: $green;
  z-index: 10;
  width: 100%;
}
.option-nav-icons{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 2.5em;
  gap: 1.6em;
}
.icon-option-panel{
  font-size: 2em;
  color: $light-grey;
}
.icon-option-panel:hover{
  color: $light;
}


