<section class="profile">
  <div class="layer">
    <div class="profile-title"><p class="white">Principal </p><p class="pink">Designer</p></div>
    <div class="profile-content">
      <p id="first" class="white">who believe in simplicity.</p>
      <p id="second" class="pink">love with UI / GUI / UX</p>
    </div>
    <div class="profile-nav-icons">
      <a class="icon" routerLink="#"><i class="fa fa-dribbble font-awesome"></i></a>
      <a class="icon" routerLink="#"><i id="forrst"><img src="./../assets/images/forrst.png"></i></a>
      <a class="icon" routerLink="#"><i class="fa fa-behance font-awesome"></i></a>
    </div>
  </div>
</section>
