@import '../../assets/scss/variables';

.profile{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  background-image: url("../../assets/images/photo.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 100%;
}
.layer{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  background-color: $green;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-items: center;
}
.profile-title{
  font-family: blackjar, serif;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 0.3em;
  font-size: 4em;
  padding-top: 2em;
}

.profile-content{
  font-family: newCicleFina, serif;
  text-align: center;
  padding-bottom: 3em;
}

#first{
  font-size: 1.8em;
  margin-bottom: 0.3em;
}
#second{
  font-size: 1.4em;
}

.icon{
  display: grid;
  text-decoration: none;
  color: $light;
  margin: 0.5em;
  font-size: 2em;
  justify-content: center;
  align-content: center;
  opacity: 80%;
}
.profile-nav-icons{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.white{
  color: $light;
}
.pink{
  color: $pink;
}

#forrst img{
  width: 100%;
  max-width: 0.9em;
}
.font-awesome{
  opacity: 80%;
}

