@import '../../assets/scss/variables';

.profile{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  justify-items: center;
  background-image: url("../../assets/images/photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.layer{
  background-color: $green;

}
.profile-title{
  font-family: blackjar, serif;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 0.5em;
  font-size: 45px;
}

.profile-content{
  font-family: newCicleFina, serif;
  font-size: 18px;
}

.icon{
  display: grid;
  text-decoration: none;
  color: $light;
  margin: 0.5em;
  font-size: 2em;
  justify-content: center;
  align-content: center;
  opacity: 80%;
}
.profile-nav-icons{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.white{
  color: $light;
}
.pink{
  color: $pink;
}

#forrst img{
  width: 100%;
  max-width: 0.9em;
}
.font-awesome{
  opacity: 80%;
}

